<!doctype html>
<html ng-app="ExampleApp">

<head>

  <title>angular-transformicons</title>

  <meta charset="utf-8">

  <link rel="stylesheet" type="text/css" href="example/styles.css">

</head>

<body ng-controller="ExampleCtrl as vm">

  <ul>

    <li>
      <addrm-plus-circle bind-events="false" bind-transform="vm.transform" ng-click="vm.transform = !vm.transform"></addrm-plus-circle>
    </li>
    <li>
      <addrm-plus-check bind-events="false" bind-transform="vm.transform" ng-click="vm.transform = !vm.transform"></addrm-plus-check>
    </li>
    <li>
      <addrm-plus-minusfold bind-events="false" bind-transform="vm.transform" ng-click="vm.transform = !vm.transform"></addrm-plus-minusfold>
    </li>
    <li>
      <addrm-plus-minusrotate bind-events="false" bind-transform="vm.transform" ng-click="vm.transform = !vm.transform"></addrm-plus-minusrotate>
    </li>
    <li>
      <addrm-remove-check bind-events="false" bind-transform="vm.transform" ng-click="vm.transform = !vm.transform"></addrm-remove-check>
    </li>
    <li>
      <addrm-remove-chevron-down bind-events="false" bind-transform="vm.transform" ng-click="vm.transform = !vm.transform"></addrm-remove-chevron-down>
    </li>
    <li>
      <addrm-remove-chevron-left bind-events="false" bind-transform="vm.transform" ng-click="vm.transform = !vm.transform"></addrm-remove-chevron-left>
    </li>
    <li>
      <addrm-remove-chevron-right bind-events="false" bind-transform="vm.transform" ng-click="vm.transform = !vm.transform"></addrm-remove-chevron-right>
    </li>
    <li>
      <addrm-remove-chevron-up bind-events="false" bind-transform="vm.transform" ng-click="vm.transform = !vm.transform"></addrm-remove-chevron-up>
    </li>
    <li>
      <grid-collapse bind-events="false" bind-transform="vm.transform" ng-click="vm.transform = !vm.transform"></grid-collapse>
    </li>
    <li>
      <grid-rearrange bind-events="false" bind-transform="vm.transform" ng-click="vm.transform = !vm.transform"></grid-rearrange>
    </li>
    <li>
      <indicator-svgchevron bind-events="false" bind-transform="vm.transform" ng-click="vm.transform = !vm.transform"></indicator-svgchevron>
    </li>
    <li>
      <loader-circlearrow bind-events="false" bind-transform="vm.transform" ng-click="vm.transform = !vm.transform"></loader-circlearrow>
    </li>
    <li>
      <loader-spinner360 bind-events="false" bind-transform="vm.transform" ng-click="vm.transform = !vm.transform"></loader-spinner360>
    </li>
    <li>
      <mail-envelope bind-events="false" bind-transform="vm.transform" ng-click="vm.transform = !vm.transform"></mail-envelope>
    </li>
    <li>
      <menu-arrow360 bind-events="false" bind-transform="vm.transform" ng-click="vm.transform = !vm.transform"></menu-arrow360>
    </li>
    <li>
      <menu-arrowleft bind-events="false" bind-transform="vm.transform" ng-click="vm.transform = !vm.transform"></menu-arrowleft>
    </li>
    <li>
      <menu-arrowup bind-events="false" bind-transform="vm.transform" ng-click="vm.transform = !vm.transform"></menu-arrowup>
    </li>
    <li>
      <menu-minus bind-events="false" bind-transform="vm.transform" ng-click="vm.transform = !vm.transform"></menu-minus>
    </li>
    <li>
      <menu-xbutterfly bind-events="false" bind-transform="vm.transform" ng-click="vm.transform = !vm.transform"></menu-xbutterfly>
    </li>
    <li>
      <menu-xcross bind-events="false" bind-transform="vm.transform" ng-click="vm.transform = !vm.transform"></menu-xcross>
    </li>
    <li>
      <search-xcross bind-events="false" bind-transform="vm.transform" ng-click="vm.transform = !vm.transform"></search-xcross>
    </li>
    <li>
      <vid-play bind-events="false" bind-transform="vm.transform" ng-click="vm.transform = !vm.transform"></vid-play>
    </li>

  </ul>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular.min.js"></script>

  <script src="dist/angular-transformicons.umd.js"></script>

  <script src="example/app.js"></script>

</body>

</html>
